// @import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
@import './red-hat.css'
body  
    font-family: RedHatDisplay, Fallback, sans-serif;
    background: rgba(24, 44, 0, 0.16) 0% 0% no-repeat padding-box;

.q-layout__section--marginal
    background: transparent linear-gradient(180deg, rgb(34, 38, 41) 0%, rgba(71, 75, 79, 0.98) 62%, rgba(107, 110, 112, 0.88) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000040;

.text-red-toggle
    background: transparent linear-gradient(180deg, rgb(227, 0, 27) 0%, rgba(227, 0, 27, 0.98) 61%, rgba(227, 0, 27, 0.8) 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px rgba(227, 0, 27, 0.36);
