@charset "UTF-8";

@font-face {
    font-family: "RedHatDisplay-R";
    src: url("fonts/RedHatDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RedHatDisplay-M";
    src: url("fonts/RedHatDisplay-Medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "RedHatDisplay-B";
    src: url("fonts/RedHatDisplay-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
